@import 'config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    @include grid-center;
    background-color: $clr-primary-2;
    color: $clr-black;
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: $spacing;
}

h1 {
    font-size: 2rem;
    line-height: 1.25;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.25;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
    margin: auto;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
    }
}

.container {
    max-width: 30rem;
    width: 90vw;
    overflow: hidden;
    border-radius: $radius;
    background-color: $clr-white;
    box-shadow: $shadow;
    overflow-wrap: anywhere;
}

.container-lg {
    @extend .container;
    max-width: 50rem;
}

.section {
    padding: 1rem;
}

.grid-center {
    @include grid-center;
}

.header {
    @include flex-between;
    padding: 1rem;
    background-color: $clr-primary-3;
    color: $clr-white;

    .icon {
        color: $clr-white;
        transition: $trans-ease;

        &.rotate {
            transform: rotate(90deg);
        }
    }
}

.form {
    padding: 1rem;

    &-header {
        text-align: center;
    }

    &-field {
        margin: 1rem 0;

        label {
            display: block;
            margin-bottom: 0.25rem;
            text-transform: capitalize;
        }
    }

    &-message {
        margin-top: 1rem;
        text-align: center;
    }

    &-error {
        margin-top: 1rem;
        color: $clr-red;
        text-align: center;
    }

    input {
        width: 100%;
        padding: 0.375rem;
        border: 1px solid $clr-gray-2;
        border-radius: $radius;
        outline: none;
        background-color: $clr-white;
        color: $clr-black;
        font-family: $font;
        font-size: 1rem;

        &:focus {
            border-color: $clr-primary-3;
            box-shadow: 0 0 0 1px $clr-primary-3;
        }
    }
}

.form-flex {
    @extend .form;
    display: flex;
    column-gap: 0.5rem;
    padding: unset;
}

.btn {
    min-width: 2.25rem;
    display: inline-block;
    padding: 0.375rem 0.5rem;
    border: none;
    border-radius: $radius;
    background-color: $clr-primary-3;
    color: $clr-white;
    font-family: $font;
    font-size: 1rem;
    line-height: 1.25;
    text-transform: capitalize;
    letter-spacing: $spacing;
    transition: $trans-ease;

    &.green {
        background-color: $clr-green;
    }

    &.red {
        background-color: $clr-red;
    }

    &:hover {
        filter: brightness(125%);
    }
}

.btn-block {
    @extend .btn;
    display: block;
    width: 100%;
}

.btn-spinner {
    @include circle(1.25rem);
    display: block;
    margin: 0 auto;
    border: 0.25rem solid $clr-white;
    border-right-color: transparent;
    animation: spinner 0.5s linear 0s infinite;
}

.icon {
    display: inline-block;
    border: none;
    background-color: transparent;
    font-size: 1rem;

    &.github {
        font-size: 1.25rem;
    }
}

.text-link {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: $clr-primary-3;
    font-family: $font;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}

.column-layout {
    position: relative;
    min-height: 20rem;
    display: grid;
    grid-template-columns: auto 1fr;

    @media screen and (max-width: 800px) {
        grid-template-columns: unset;
    }
}

.sidebar {
    width: 16rem;
    margin-left: -16rem;
    padding: 1rem;
    background-color: $clr-primary;
    transition: $trans-ease;
    z-index: 1;

    &-header {
        @include flex-between;
        margin-bottom: 1rem;

        h4 {
            text-transform: unset;
        }
    }

    &.open {
        transform: translateX(0);
        margin-left: 0;
    }

    @media screen and (max-width: 800px) {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        transform: translateX(-100%);
        margin-left: 0;
    }
}

.user-list,
.chat-list {
    display: grid;
    row-gap: 0.5rem;
    margin-top: 1rem;

    li {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 0.5rem;
        cursor: pointer;

        span {
            @include grid-center;
            @include circle(2rem);
            background-color: $clr-primary-3;
            color: $clr-white;
        }

        p:first-of-type {
            color: $clr-primary-3;
            font-weight: 500;
        }

        &.active {
            padding-left: 0.25rem;
            border-left: 0.25rem solid $clr-primary-3;
            border-radius: $radius;
            background-color: $clr-primary-2;
            pointer-events: none;
        }
    }
}

.user-list {
    padding-bottom: 1rem;
    border-bottom: 1px solid $clr-primary-2;
}

.chat {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    padding: 1rem;

    &-header {
        @include flex-between;

        h4 {
            text-transform: unset;
        }

        button {
            min-width: 7.5rem;
        }
    }
}

.message-list {
    max-height: 50vh;
    overflow-y: auto;
    display: grid;
    row-gap: 1rem;
    padding: 0.5rem;
    border: 1px solid $clr-gray-2;
    border-radius: $radius;
    line-height: 1.25;

    li {
        position: relative;
        max-width: 75%;
        justify-self: left;
        align-self: flex-start;
        padding: 0.5rem;
        border-radius: $radius;
        background-color: $clr-gray;

        h4 {
            margin-bottom: 0.375rem;
            text-transform: unset;
            letter-spacing: unset;
        }

        p:not(:last-of-type) {
            margin-bottom: 0.375rem;
        }

        p:last-of-type {
            text-align: right;
            font-size: 0.9rem;
        }

        img {
            max-width: 100%;
            margin: 0.375rem 0;
        }

        footer {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flex-center;
            column-gap: 1rem;
            border-radius: inherit;
            background-color: $clr-primary-2;
            opacity: 0;
            visibility: hidden;
            transition: $trans-ease;

            button {
                @include circle(1.5rem);
                display: inline-block;
                border: none;
                background-color: $clr-white;
                color: $clr-primary-3;
                font-size: 1rem;
            }
        }

        &.user {
            justify-self: right;
            background-color: $clr-primary;

            &:hover footer {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}